body{
    font-family: "Stick", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("../images/japan-style/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3{
    text-align: center;
}

h1, h2{
    color:lightgoldenrodyellow;
}

h4{
    text-decoration: underline;
}

nav {
    background-color:#3a3a3a;
    display: flex;
    justify-content:space-around;
}

a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding:10px;
}

.frame, .form{
    background-color:tan;
    width:30vw;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

#divGame{
    text-align: center;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

img{
    background-color: white;
    width: 15%;
    margin: 2.5%;
    padding: 2.5%;
    border-radius: 10px;
}

img .flipped{
    transform: rotateY(180deg);
    transition: all ease-in 0.5s;
}

#rules img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input, label{
    width: 100%;
}

input{
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-submit, .btn-reset{
    font-family: "Stick", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
}

.btn-submit{
    background-color: peru;
    color: white;
}

.btn-reset {
    background-color: #3a3a3a;
    color: white;
}

.message-erreur{
    color: red;
}